<form [formGroup]="myForm">
  <div class="row">
    <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
      <input type="text" class="form-control mb-3" placeholder="Selecione as datas" bsDatepicker formControlName="date"
        [bsConfig]="bsConfig" (bsValueChange)="onDateSelect($event)" [dateCustomClasses]="dateCustomClasses"
        [daysDisabled]="[6,0]" />

      <label>Datas Selecionadas</label>
      <ul class="list-group mb-3">
        <li *ngFor="let date of selectedDates" class="list-group-item">
          {{ date | date: 'dd/MM/yyyy' }}
        </li>
      </ul>
    </div>
  </div>
</form>
